<div class="container">
    <img src="~/images/faleconosco1.jpg" />
    <div class="jumbotron">
        <h3>Queremos ouvir o que você tem a dizer</h3>

        <p>Se você tiver alguma dúvida ou sugestão, fale conosco.</p>

        <div>
            <label>
                <img src="~/images/Envelope-icon24.png"/>
                <email endereco"edson.cesar@hotmail.com.br" conteudo="Enviar um e-mail"></email> @*TagHelper*@
            </label>
            <br /><br />
            <label>
                <img src="~/images/phone-app-icon.png"/>
                (11) 99874-5566
            </label>
             <br /><br />
             <label>
                 <img src="~/images/Home-iconred.png"/>
                 Av. Gerardo Lima 45 - 60831-075 - Ceará
             </label>
        </div>
    </div>
</div>